body,
html {
	width: 100%;
	height: 100%;
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}


/* nav */

h1 {
	color: rgba(255,255,255,.7);
	font-size: 16px;
	height: 18px;
    line-height: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

h1:hover {
	color:#fff;
}

nav {
	border-bottom: 1px solid #777;
}

.menu li {
	padding: 10px;
	height: 30px;
	line-height: 30px;
}

.menu li>a {
	color: rgba(255,255,255,.7);
	font-size: 13px;
	font-weight: 700;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.menu li>a:hover {
	color: #fff;
	text-decoration: none;
}

/* header */
header {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	background: url(../images/header.jpg);
	background-size: cover;
}

section {
	padding: 100px 0;
}